<app-userheader></app-userheader>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<table width = "100%" >
  <tr>
    <td>
      <img src="assets/main.jpg" alt="Lights" style="width:100%; height:20%;">
    </td>
  </tr>
</table>

<table width = "100%" >
  <tr>
    <td align ="center" height="100" >
        
      <button mat-raised-button color="primary" routerLink="/groups/new">Aplicati pentru grupuri!</button>
      <!--<div class="w3-container">
          <button class="w3-button w3-black w3-round-large" routerLink="">Aplicați pentru grupuri!</button>
        </div>-->
    </td>
    <!--<td align ="center" height="100">
        <div class="w3-container">
            <button class="w3-button w3-black w3-round-large" routerLink="/despreexp">Aflați mai mult!</button>
        </div>
    </td>-->
    <td align="center" height="100">
      <button mat-raised-button color="primary" routerLink="/despreexp">Aflati mai mult!</button>
    </td>
  </tr>
</table>
