<div class="toolbar">

<mat-toolbar color="primary">
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/experiments">Experiments</button>
  <button mat-button routerLink="/tour">Tour</button>
  <div class="admin" >
  <i class="material-icons" matTooltip="Admin!" [matTooltipPosition]="position" routerLink="/login">person</i>
  </div>
</mat-toolbar>
</div>

<!--<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/experiments">Experiments</a></li>
  <li><a href="/">Valami2 </a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Sort lists</a>
    <div class="dropdown-content">
      <a href="/">Today</a>
      <a href="/">Week</a>
    </div>
  </li>
  <li class="image"><img src="assets/logo_35.png"></li>
  <li class="about"><a href="#about">About</a></li>
</ul>-->



