<app-adminheader></app-adminheader>
<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">
      
        <!--<ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let experiment"> {{experiment.id}} </mat-cell>
      </ng-container>-->
   
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let experiment"> {{experiment.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let experiment">
            <i class="material-icons" matTooltip="Update" [matTooltipPosition]="position" routerLink="/experiments/updateExperiment/{{experiment.id}}">update</i>
            <i class="material-icons" matTooltip="Delete" [matTooltipPosition]="position1" (click)="deleteExperiment(experiment)" routerLink="/admin/experiments">delete</i>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>